<div id="bloqueAuthor" class="author">
<h3>Autor:</h3>
<img src="/images/IMG_fotoAutor.jpg" id="imgAuthor" class="author" alt="Imagen del autor" /> 
<p id="nombreAuthor" class="author">JoselegVII</p>
</div>
