<h3>Listado de preguntas:</h3>

<form method="get" action="/quizes" enctype="application/x-www-form-urlencoded" id="formBusq">        
  Búsqueda de preguntas: 
  <input type="text" name="search" title="Introduce aquí el texto de búsqueda" placeholder="Texto de búsqueda" autocomplete="on" required />
  <button id="botBuscar" type="submit">
  <img class="imgMiniatura" src="/images/IMG_lupa.png" /> Buscar
	</button> 
</form>

  <% include _list.ejs %>

<%if(session.user){%>
	<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<%}%>
