<h2>Login</h2>

<form method='POST' action='/login' id="formLogin">

  <div class="field">
    <label for="login" class="rem">Login:</label><br />
    <input type="text" id="login" name="login" size="30" title="Introduce aquí tu usuario" placeholder="Usuario" autocomplete="off"/>
  </div>

  <div class="field">
    <label for="password" class="rem">Password:</label><br />
    <input type="password" id="password" name="password" size="30" title="Introduce aquí tu contraseña" placeholder="Contraseña" autocomplete="off"/>
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Login" />
  </div>

</form>
